*{
    margin: 0;
    padding: 0;
}
.ch-1 {
    height: 120px;
    text-align: center;
    background-color: beige;
    margin: 20px;
}
h1 {
   color: rgb(21, 22, 22);
font-size: 2rem; 
text-align: center;
background-color: burlywood;
}

h2 {
    color: rgb(3, 77, 106);
    background-color: rgb(193, 227, 228);
    text-align: center;
    font-size: 2rem;
}
.ch-2 {
    height: 300px;
    background-color: blanchedalmond;
   text-align: center;
   margin: 20px;
   line-height: 46px;
}
.ch-3 {
   
    height: 170px;
    background-color: rgb(157, 236, 202);
    text-align: center;
}
.ch-5 p {
font-size: 1.3rem;
margin-top: 20px;
}